.filter-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.filter-center {
  padding: 30px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.groupping {
  min-width: 20vw;
  width: auto;
  height: auto;
  padding: 10px 0px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .datefield {
      margin-left: -45px;
    };

  .submit {
    margin-right: 48px;
    margin-top: 6px;
  }
}

#filter-link{
  margin-top: 25px;
}

.grid-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


h5 {
  line-height: normal;
}

.icon{
  color: $navy;
}

.height-100{
  height: 100vh;
}

#total {
  background-color: $white;
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: 50px auto 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-filter {
  align-self: flex-start;
  display:flex;
  align-items: center;
  justify-content: space-around;
  gap: 550px;
  min-width: 50vw;
  margin-right: 600px;
}

#arrow {
  color: $navy;
  :hover {
    color: $button-color;
  }
}
