
.wrapper {
  margin: 25px auto;
  width: 600px;
  background-color: $light-gray;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.items-next {
  display: flex;
  justify-content: space-around;
}

label {
  width: 100%;
  padding: 0 30px;
}

input {
  margin-right: 60px;
}

.mx-1 {
  margin-right: 60px !important;
}


.button-form {
  width: auto;
  height: auto;
  border-radius: 30px;
  background-color: $button-color;
  border-width: 1.5px;
  margin: 0 0 5px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: $black;
  opacity: 0.7;
  text-decoration: none;
  padding: 15px 30px;

  &:hover {
    background-color: $button-color;
    opacity: 1;
    color: $black;
    border-width: 0px;
    border-color: $light-pink;
  }
}

.card-display {
  height: 60px;
  margin: 10px 15px;
  background-color: $white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-around;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  svg {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .left-align {
    text-align: left;
  }
}

.grid-container-small {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // grid-gap: 12px 12px;
  row-gap: 8px 8px;

}

.button-home-small {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: $button-color;
  border-width: 1.5px;
  margin: 50px 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: center;
  color: $black;
  opacity: 0.7;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: $black;
  }
}

ul {
  padding-inline-start: 0px;
}

.flex-info {
  display: flex;
  gap: 30px;
}

i {
  color: $black;

  &:hover {
    color: $dark-pink;
  }
}

.chart {
  display: flex;
  justify-content: center;
  margin: 48px 0 48px;
}
