
.wrapper {
  margin: 25px auto;
  width: 600px;
  background-color: $light-gray;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.items-next {
  display: flex;
  justify-content: space-around;
}

label {
  width: 100%;
  padding: 0 30px;
}

input {
  margin-right: 60px;
}

.mx-1 {
  margin-right: 60px !important;
}


.button-form {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: $button-color;
  border-width: 1.5px;
  margin: 30px 0 5px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  color: $black;
  opacity: 0.7;
  text-decoration: none;

  &:hover {
    background-color: $button-color;
    opacity: 1;
    color: $black;
    border-width: 0px;
    border-color: $light-pink;
  }
}

.card-display {
  width: 240px;
  height: 300px;
  margin: 0px 15px;
  background-color: $white;
  padding: 10px;
  // display: flex;
  // flex-direction: column;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  svg {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .left-align {
    text-align: left;
  }
}

.grid-container-small {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-gap: 12px 12px;
  row-gap: 8px;
}

.button-home-small {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: $button-color;
  border-width: 1.5px;
  margin: 50px 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: center;
  color: $black;
  opacity: 0.7;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: $black;
  }
}
