<% entertainments.each do |entertainment| %>
  <div data-controller="search-cards disable-button" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "entertainment_info", entertainment: entertainment %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
