<div>
  <div class="centering">
    <p>Filter your expenses:  </p>
    <%= form_with url: filter_entertainments_path, method: :get do %>
      <%= select_tag :query, options_for_select(Entertainment::CATEGORIES) %>
      <%= submit_tag "Search", name: "", class: 'button-home-small' %>
    <% end %>
  </div>
  <%= render "entertainment" %>
</div>
