<p>We are in  search page</p>

<% @entertainments.each do |entertainment| %>
  <div class="card-display">
    <%= entertainment.category %>
    <%= entertainment.date_of_purchase %>
    <%= entertainment.amount %>
  </div>
<% end %>
