// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// my colors:
$white: #FFFFFF;
$button-color: #FC7300;
$black: #000000;
$light-pink: #D7BCC0;
$dark-pink: #927c80;
$light-green: #BCD7D3;
$light-violet: #C4C1D9;
$light-beige: #E9E0DA;
$light-beige2: #f6f1ee;
$dark-beige: #A9907E;
$navy: #025464;
$light-green:#94B49F;
$beige: #E7E6E1;
$light-gray:#EFF5F5;
