// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
.card-font {
  // font-family: 'DM Sans', sans-serif
  // font-family: 'Castoro Titling', cursive;
  // font-family: 'Pompiere', cursive;
  // font-family: 'Orelega One', cursive;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Gentium Plus', serif;
  // font-family: 'Tiro Devanagari Sanskrit', serif;
  // font-family: 'Sarabun', sans-serif;
  // font-family: 'Arsenal', sans-serif;
  // font-family: 'Mandali', sans-serif;
  // font-family: 'Khula', sans-serif;
  font-family: 'Laila', sans-serif;
  line-height: normal;
  font-size: large;
};

.header {
  font-family: 'Playfair', serif;
}

.header2 {
  font-family: 'Playfair Display', serif;
}

#header-filter {
  padding-bottom: 25px;
}

.mill-font {
  font-family: 'Sorts Mill Goudy',
  serif};
