<% kids.each do |kid| %>
  <div data-controller="search-cards disable-button" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "kid_info", kid: kid %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
