// Specific CSS for your home-page
.background-color {
  background-color: $white;
}

.navbar-picture-container {
  background-image: url("piggy_bank1.jpg");
  background-size: cover;
  padding: 300px 0;

  div {
    width: 800px;
    color: $black;
    padding-left: 80px;

    p {
      font-size: 1.5em;
    }
  }
}

.centering {
  padding: 30px 0px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-reason {
  width: 320px;
  height: 500px;
  background-color: $white;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  // z-index: 2;
  overflow: hidden;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    // z-index: 1;
  }
}

.card-info {
  padding-left: 16px;
  padding-right: 16px;

  p {
    margin: 8px 0;
  }
}

#p1 {
  padding-top: 12px;
}

#p3, #p4 {
  padding-top: 24px;
}

.items-center {
  display: flex;
  justify-content: center;
}

.button-home {
  width: 150px;
  line-height: 50px;
  border-radius: 25px;
  background-color: $button-color;
  border-width: 1.5px;
  margin: 50px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  color: $black;
  opacity: 0.7;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: $black;
  }
}

.nice-font {
  font-family: 'Tillana', cursive;
}

// #navbar-text {
//   width: 800px;
//   color: rgb(0, 0, 0);
//   padding-left: 80px;
// }

// #navbar-text p {
//   font-size: 1.5em;
// }


// .card-picture {
//   width: 100%;
//   height: 300px;
//   object-fit: cover;
//   // z-index: 1;
// }


// .card-info p {
//   margin: 8px 0;
// }


// .button-home:hover {
//   opacity: 1;
//   color:black;
// }
