.beige-background {
  background-color: $beige;
}

.light-beige-background {
  background-color: $light-beige2;
}

.gray-background {
  background-color: $light-gray;
}

.page-in-two {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 50px;
}
