<% savings.each do |saving| %>
  <div data-controller="search-cards" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "saving_info", saving: saving %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
