<div class="gray-background">
<h3 class="centering header2">What kind of expense would you like to enter?</h3>
  <div class="grid-container">
    <% @categories.each do |cat| %>
      <%= link_to "#{cat[:name].downcase}s", class:'no_underscore' do %>
        <figure>
          <%= image_tag("categories/#{cat[:name].downcase}.jpg", alt: cat[:name], class:'card-category') %>
          <figcaption class='nice-font'><%= cat[:display] %></figcaption>
        </figure>
      <% end %>
    <% end %>
  </div>
</div>
