<% meals.each do |meal| %>
  <div data-controller="search-cards disable-button" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "meal_info", meal: meal %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
