<% cars.each do |car| %>
  <div data-controller="search-cards disable-button" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "car_info", car: car %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
