<div class="grid-container-small">
  <% apartments.each do |apartment| %>
    <div data-controller="search-cards">
      <ul>
        <li class="card-display">
          <%= render "apartment_info", apartment: apartment %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
