<% apartments.each do |apartment| %>
  <div data-controller="search-cards disable-button" class="card-display">
    <%# <ul> %>
      <%# <li class="card-display"> %>
        <%= render "apartment_info", apartment: apartment %>
      <%# </li> %>
    <%# </ul> %>
  </div>
<% end %>
