<div>
  <div class="centering">
    <p>Filter your expenses:  </p>
    <div>
      <%= form_with url: filter_apartments_path, method: :get, class: 'filter-flex' do %>
        <%= select_tag :query, options_for_select(Apartment::CATEGORIES) %>
        <div class='input-group date' id='picker1'>
             <input type='text'/>
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
        <div class='input-group date' id='picker2'>
             <input type='text'/>
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
        <%= submit_tag "Search", name: "", class: 'btn button-form' %>
      <% end %>
    </div>
  </div>
  <%= render partial: "apartment", locals: {apartments: @apartments} %>
</div>
<script type="text/javascript">
  $(function () {
      $('#picker1').datetimepicker();
      $('#picker2').datetimepicker({
        useCurrent: false
      });
      $("#picker1").on("dp.change", function (e) {
          $('#picker2').data("DateTimePicker").minDate(e.date);
      });
      $("#picker2").on("dp.change", function (e) {
          $('#picker1').data("DateTimePicker").maxDate(e.date);
      });
  });
</script>
